

@import 'base/reset';
@import 'base/variables';
@import 'base/mixin';
@import 'blocks/header';
@import 'blocks/promo';
@import 'blocks/signs';
@import 'blocks/price';
@import 'blocks/buttons';
@import 'blocks/choice';
@import 'blocks/difference';
@import 'blocks/advantages';
@import 'blocks/about';
@import 'blocks/footer';


body {
    font-family: 'Montserrat', sans-serif;
    position: relative;
}

.container {
    max-width: 100%;
    width: 1416px;
    margin: 0 auto; 
}